.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 0 auto;
  max-width: 640px;
  padding: 30px;
  text-align: center;
}

.options-panel {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 10px;
}

.options-panel__item {
  margin-left: 8px;
}

.words-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.word {
  border: darkblue solid 0.5px;
  border-radius: 5px;
  margin-left: 3px;
  margin-bottom: 3px;
  padding: 4px 8px;
}

.word--real {
  background: #ccc;
}

.word--hidden {
  display: none;
}

.number-input,
.submit-button {
  padding: 5px;
  line-height: 30px;
  font-size: 30px;
}

.button {
  border: black solid 1px;
  border-radius: 5px;
}

.clear-button {
  padding: 6px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.keyboard__line {
  display: flex;
  width: 100%;
}

.keyboard__button {
  display: inline-block;
  flex-grow: 1;
  min-width: 100px;
  padding: 10px 40px;
  font-family: sans-serif;
  text-align: center;
  background: white;
  border: black solid 1px;
  border-radius: 5px;
  margin-left: 3px;
  margin-bottom: 3px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
}

.keyboard__button:active {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.keyboard__button:disabled {
  background: #f2f2f2;
}

.keyboard__chars-wrapper {
  display: flex;
  flex-direction: column;
}

.keyboard__letter {
  font-size: 30px;
}

.keyboard__letter {
  font-size: 15px;
  color: gray;
}

.message__error {
  font-size: 10px;
  color: red;
}
